.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  background: none;
  border: 2px solid #ffe;
  padding: 6px 12px;
  border-radius: 4px;
  color: #ffe;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: rgb(218, 31, 31);
  color: black;
}

.picture-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.back {
  width: 220px;
  height: 280px;
}
